// Fontes
$fontPrincipal: Roboto, sans-serif;

// Esquema de cores
$corDeFundoPrincipal: #f5f6fa;
$corDeFundoSecundaria: #182C61;
$corLinks: #fff;
$corBotao: #44bd32;
$corBotaoHover: #4cd137;


// breackpoints
$mobile: 767px;
$tablet: 1023px;